{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% 'css/clock_in_out.css' %}">
    <title>Clock In/Out</title>
</head>
<body>
        <header class="page-header">
                <h1>Clock In/Out</h1>
        </header>
    {% if messages %}
        {% for message in messages %}
            <p class="success-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="employee_id">Employee ID:</label>
        <input type="text" name="employee_id" id="employee_id" required>
        <button type="submit">Clock In/Out</button>
    </form>
   <footer>
   <br>
   <p style="text-align: center">Copyright 2023 Management System</p>
   </footer>
</body>
</html>
